/* Beef Curry page */

.beef {color: rgb(139, 69, 11);
    background-color: hsl(213, 18%, 88%); 
    font: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.beef2 {color: rgb(139, 69, 11);
    background-color: hsl(213, 18%, 88%); 
    font: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.curry {height: auto; 
    width: 700px;
    
}


/* Lemonaid page */

.title {color: rgb(255, 129, 112);
    background-color: rgb(252, 249, 229);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.headers {color: rgb(255, 129, 112);
    background-color: rgb(252, 249, 229);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

/* carrot cage page */

.cake {color: rgb(90, 61, 34);
    background-color: rgb(252, 241, 228);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.headers3 {color: rgb(90, 61, 34);
    background-color: rgb(248, 237, 223);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}