.header {color: rgb(82, 74, 63);
    background-color: hsl(210, 15%, 92%); 
    text-align: center;
    font: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.list {color:rgb(87, 74, 44); 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold; 
}
